<html>

<head>
    include partials/head.pug
</head>

<body>
    <header>
        <h2>Studating</h2>
        <nav>
            <a href="">
                <i class="far fa-user"></i></a>
            <a href="">
                <i class="far fa-comment"></i></a>
        </nav>
    </header>
    <main>
        <aside>
            <span></span>
            <nav>
                <ul>
                    <li>Meet new people</li>
                    <li>Chat</li>
                    <li>New matches</li>
                </ul>
            </nav>
        </aside>
        <section>
            <div>
                <img src="/images/girl-3.jpeg" alt="foto van Sander Dolberg">
                <button class="like">Like</button>
                <button class="dislike">Dislike</button>
            </div>
            <div>
                <h2>Olivia</h2>
                <div>
                    <div>
                        <ul>
                            <li>Taal:</li>
                            <li>Afkomst:</li>
                            <li>Status:</li>
                            <li>Woonplaats:</li>
                        </ul>
                        <ul>
                            <li>Engels</li>
                            <li>Amerika</li>
                            <li>Single</li>
                            <li>Amsterdam</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>Leeftijd:</li>

                        </ul>
                        <ul>
                            <li>18</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>