html
    head
        include partials/head.pug
    body
        form(action="/api/data" method="POST")
            label(for="username") Gebruikersnaam
            input(type="text" id="username" name="name")
            label(for="password") Wachtwoord
            input(type="password" id="password" name="password")
            label(for="tumbnail")
            input(type="file" id="tumbnail" name="tumbnail")
            input(type="submit" placeholder="Inloggen" /* disable on submit */)