html
    head
        include partials/head.pug
    body(class="login")
        include partials/header.pug
        main
            form(action="/login" method="POST")
                label(for="email") Email
                input(type="text" id="email" name="email")
                label(for="password") Password
                input(type="password" id="password" name="password")
                input(type="submit" placeholder="Inloggen" /* disable on submit */)

                a(href="/register") New? Register