html
    head
        include partials/head.pug
    body(class="profile")
        include partials/header.pug
        main
            div
                img(src=`${data.profilePic}` alt="Profielfoto")
                div
                    h2= `${data.username}`
                    h2= `${data.email}`