html
    head
        include partials/head.pug
    body(class="login")
        include partials/header.pug
        main
            form(action="/register" method="POST" enctype="multipart/form-data")
                label(for="email") Email
                input(type="text" id="email" name="email")
                label(for="username") Gebruikersnaam
                input(type="text" id="username" name="username")
                label(for="password") Wachtwoord
                input(type="password" id="password" name="password")
                label(for="file") Profielfoto
                input(type="file" id="file" name="file" accept="img/*")
                input(type="submit" placeholder="Inloggen")