//width function
@function grid($key) {
    @return 100% / 12 * $key;
}
//colors
$colors: ( primary: #fdc453,
secondary: #4a4949,
hover: rgba(253, 197, 82,0.8),
);

// Returns a color from the $colors-map based on the supplied key
@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }

    @warn "Unknown `#{$key}` in $colors";
    @return null;
}

//animation duration
$duration: .3s;

//general
body {
    padding: 0;
    margin: 0;
    font-family:'helvetica neue', sans-serif;
}
header {
    border-bottom: color(primary) 1px solid;
    display: flex;
    margin-bottom: 3em;
    h2 {
        color: color(primary);
        margin-left: 1.5em;
        font-size: 2em;
    }
    nav {
        margin-left: auto;
        display: flex;
        a {
            display: flex;
            text-decoration: none;
            margin: auto 0;
            i {
                color: color(primary);
            }
            &:last-of-type {
                margin: auto 1.5em;
            }
        }
    }
}
//page
.index {
    p {
        font-size: 1em;
    }
    i {
        font-size: 1.5em;
    }
    main {
        padding:0 4em;
        display: flex;
        aside {
            display: flex;
            width: grid(2);
            flex-direction: column;
            > span {
                width: 100%;
                height: .1em;
                border-top: .3px solid rgba(96, 96, 96, .5);
            }
            ul {
                padding-left: 0;
                list-style-type: none;
                li {
                    line-height: 2em;
                }
            }
        }
        > section {
            margin: 0 auto;
            width: grid;
            display: flex;
            padding-left: 3em;
            > div {
                height: 100%;
                &:first-of-type {
                    width: 25%;
                    height: 15em;
                    overflow: hidden;
                    border-radius: 10px;
                    img {
                        width: 100%;
                        border-radius: 10px;
                    }
                }
                &:last-of-type {
                    width: 65%;
                    margin-left: auto;
                    h2 {
                        color: color(primary);
                        margin: 0;
                        padding-bottom: .3em;
                        font-size: 30px;
                        width: 100%;
                        border-bottom: .3px solid rgba(96, 96, 96, .5);
                    }
                    > div {
                        display: flex;
                        width: 100%;
                        > div {
                            height: 100%;
                            width: 35%;
                            margin-top: 3em;
                            display: flex;
                            &:first-of-type {
                                padding-right: 1.5em;
                            }
                            &:last-of-type {
                                padding-left: 1.5em;
                            }
                            ul {
                                list-style-type: none;
                                padding: 0;
                                margin: 0;
                                width: 50%;
                                li {
                                    display: flex;
                                    font-weight: normal;
                                    padding-bottom: .5em;
                                    span {
                                        margin-left: auto;
                                        font-weight: normal;
                                    }
                                }
                                &:last-of-type {
                                    li {
                                        font-weight: normal;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.login {
    header{
        margin-bottom: 0;
    }
    main {
    background-color: color(primary);
    display: flex;
    height:100%;
    margin-top: 3em;
    }
    
    form {
        margin: auto;
        padding: 3em 5em;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        input:not([type="file"]) {
            border: 1px solid rgba(96, 96, 96, .5);
            border-radius: 2px;
            padding: .4em .5em;

        }
        input:not(:last-child){
            margin-bottom: 2em;
        }
        input[type="submit"] {
            background-color: color(primary);
            border-radius: 5px;
            border: none;
            padding: 1em 2em;
            color: #fff;
            font-weight: 600;
            font-size: 1em;
            transition: background-color $duration;
            cursor: pointer;
            &:hover {
                background-color: color(hover);
            }
        }
        label {
            padding-bottom: .3em;
        }
    }
    header i {
        color: #fff;
    }
}